<nav id="navBar">
  <a href="/my_plays">view plays</a>
  <a href="/my_quotes">view quotes</a>
  <a href="/search">search</a>
</nav>

  <h2>Hello <%= @current_user.name%></h2>
  <a href="/user/<%= @current_user.id %>">edit account</a>

  <h3>play the shakespeare quote game</h3>
  <form action="/play_game">
    <button>play</button>
  </form>
