<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shakespeare Game</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <h1><a href="/">Shakespeare Game</a></h1>
  <form action="/session" method = "post">
  <input type="hidden" name ="_method" value='delete'>
  <%if logged_in?%>
    <button>logout</button>
  <%end%>
</form>
  <%= yield %>

</body>
