<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shakespeare Game</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <h1>Shakespeare Game</h1>

  <%= yield %>

</body>
