<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shakespeare Game</title>
        <link rel='stylesheet' href='/stylesheets/main.css'>
    </head>
    <body>
        <div id="headingDiv">

            <h1>
                <a id="pageHeading" href="/">Shakespeare Game</a>
            </h1>

        </div>

        <form action="/session" method="post">
            <input type="hidden" name="_method" value='delete'>
            <button id="logoutBtn">logout</button>
        </form>

        <%= yield %>

    </body>
