<div id="loginMain">

    <form id="loginForm" action="/session" method="post">
        <label class="loginLabel" for="">email:</label>
        <input type="text" name="email">

        <label class="loginLabel" for="">password:</label>
        <input type="password" name="password">

        <button>login</button>
    </form>
    <div id="loginLinkDiv">

        <a class="loginLinks" href="/sign_up">Sign Up</a>

        <a class="loginLinks" href="/forgot_password">Forgot Password</a>

    </div>

</div>
