<form action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>login</button>
</form>
<a href="/sign_up">Sign Up</a>

<a href="/forgot_password">Forgot Password</a>
