<form action="/games" method="post">
  <label for="">play</label>
  <input type="text" name="play">

  <label for="">quote</label>
  <input type="text" name="quote">

  <label for="">character</label>
  <input type="text" name="character">

  <button>create</button>
</form>
