<form action="/quotes" method="post">
  <label for="">script</label>
  <input type="text" name="script">

  <label for="">character</label>
  <input type="text" name="character">

  <label for="">play ID</label>
  <input type="text" name="play_id">

  <button>create</button>
</form>
