<div id="searchContent">

    <article id="searchInput">

        <form action="/search_result">
            <label for="search">Searcheth Plays:
            </label>
            <input type="text" name="search">

            <button>search</button>
        </form>

    </article>

</div>
