<div id="signUpInputs">

  <form action="/user" method="post">
    <label class="signUpLabel" for="">name: </label>
    <input type="text" name="name">

    <label class="signUpLabel" for="">email: </label>
    <input type="text" name="email">

    <label class="signUpLabel" for="">password: </label>
    <input type="password" name="password">

    <button>submit</button>
  </form>

</div>
